body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    margin-top: 15px;
    display: flex;
	flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/To-do-list-background.jpg);
    background-size: cover;
}

.container {
	background-color: #b7d9f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

#listContainer {
	display: flex;
	flex-flow: row wrap;
}


.list {
    margin: 10px;
	padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	min-width: 300px;
}

#advanced {
    display: none;
}

#advancedButton {
    font-size: 15px;
    margin-top: 5px;
    position: relative;
    padding-right: 25px;
}

.arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

#advancedButton.active .arrow {
    transform: translateY(-50%) rotate(180deg);

}

h1 {
    text-align: center;
    color: #333;
}

h3 {
    text-align: center;
    color: #333;
}

input[type=text] {
    width: 70%;
    padding: 8px;
    margin-right: 8px;
}


button {
    padding: 8px;
    cursor: pointer;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 8px 0;
}

.completed span {
    text-decoration: line-through;
    color: #888;
}
